# title

### Author: Raghad Alotaibi

## intro

the goal is to predecit the project's state (failed, success , canceled ) - classification problem 
- follow CRISP-DM 

some question can be answered: 
* What are the industries/categories of successful projects ? 
* How much is the amount/avg  of funding goal to start the project ?
* What are the characteristics of successful project ? 
* Dose time of year the project is launched affect the it's success ? 
* Is project’s success depends on high donation money ? 
*

# 1. Improt libraries

In [1]:
import numpy as np
import pandas as pd

# 2. Read the data

In [2]:
url = 'https://drive.google.com/file/d/1JEd7JVsawso8GIGOe9j_U3j0zw1HpiZk/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)

In [3]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [4]:
df.shape

(378661, 15)

# 3. Explatorty Data Analysis - EDA

In [6]:
num_rows = df.shape[0] 
num_cols = df.shape[1]

print(num_rows)
print(num_cols)

378661
15

In [9]:
# checking missing values 

df.isnull().sum()

# checking duplicates 

#df.duplicated().value_counts() # no duplicates

# data pre-processing 
#  - catoregies merging + encoding 
#  - normalizing numerical

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [14]:
df.state.value_counts()

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

### What are the industries/categories of successful projects ?

In [21]:
successful_projects = df.loc[df['state'] == 'successful']

In [24]:
successful_projects.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.0,successful,16,US,1205.00,1205.00,1000.00
11,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.0,2013-03-09 06:42:58,12700.0,successful,100,US,12700.00,12700.00,12500.00
14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.0,2017-04-05 19:44:18,94175.0,successful,761,GB,57763.78,121857.33,6469.73
18,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.0,2012-08-02 14:11:32,250.0,successful,7,US,250.00,250.00,250.00

In [22]:
#visualize 
successful_projects.main_category.value_counts()

Music           24197
Film & Video    23623
Games           12518
Publishing      12300
Art             11510
Design          10550
Theater          6534
Technology       6434
Food             6085
Comics           5842
Fashion          5593
Photography      3305
Dance            2338
Crafts           2115
Journalism       1012
Name: main_category, dtype: int64

In [23]:
successful_projects.category.value_counts()

Product Design     7962
Tabletop Games     7866
Shorts             6673
Music              6432
Documentary        5924
                   ...
Weaving              27
Embroidery           19
Quilts               19
Literary Spaces      13
Taxidermy             5
Name: category, Length: 159, dtype: int64

### What are the characteristics of successful project ?

In [ ]:
1. pledged >= goal

### Is project’s success depends on high donation money ?

### How much is the amount/avg of funding goal to start the project ?

### Dose time of year the project is launched affect the it's success ? / givin the category of the project